@mixin img-transformation($mrg-H: 0, $mrg-V: 0) {
  img {
    width: 5rem;
    height: 5rem;
    background-color: rgb(119, 245, 97);
    filter: invert(82%) sepia(98%) hue-rotate(190deg);
    opacity: 0.3;
    border-radius: 50%;
    padding: 0.5rem;
    transition: scale 0.2s ease-in-out;
    margin: $mrg-V $mrg-H;
    cursor: pointer;

    &:hover {
      scale: 1.2;
    }
    &:active {
      scale: 1;
    }
  }
}

@mixin flexy($dicn: row, $jc: center, $ait: center, $gap: 0) {
  display: flex;
  flex-direction: $dicn;
  justify-content: $jc;
  align-items: $ait;
  gap: $gap;
}

@mixin headings {
  @include flexy(row, space-between);
  font-size: 2.2rem;
  width: 100%;
  margin: 1rem 0;

  h2 {
    color: rgb(255, 255, 255);
  }

  button {
    padding: 1rem;
    font-size: 2.2rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-0.4rem);
    }

    &:active {
      transform: translateY(0.4rem);
    }
  }
}
