<template>
  <div class="projects">
    <div class="projects__heading">
      <h2>Projects</h2>
      <button class="projects--close-btn">Exit</button>
    </div>

    <div class="projects--contents">
      <div class="projects--logo">
        <img src="/images/projects.png" alt="projects logo" />
      </div>

      <div class="projects--list">
        <div class="project kanbam">
          <div class="project__content">
            <div class="img-wrapper">
              <img src="/images/kanbam.jpg" alt="kanbam application" />
            </div>
            <h3>Kanbam</h3>
            <div class="project__btns">
              <a href="https://github.com/Hassen-Ahmed/Kanbam" target="_blank">
                <button>GitHub</button>
              </a>
              <a href="https://kanbam.netlify.app/" target="_blank">
                <button>Live Demo</button>
              </a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="project kanbamapi">
          <div class="project__content">
            <div class="img-wrapper">
              <img src="/images/kanbamapi.png" alt="kanbam application" />
            </div>
            <h3>KanbamApi</h3>
            <div class="project__btns">
              <a
                href="https://github.com/Hassen-Ahmed/KanbamApi"
                target="_blank"
              >
                <button>GitHub</button>
              </a>
              <a href="https://kanbam.netlify.app/" target="_blank">
                <button>Live Demo</button>
              </a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="project nc-news-fe">
          <div class="project__content">
            <div class="img-wrapper">
              <img src="/images/nc-news-fe.jpg" alt="kanbam application" />
            </div>
            <h3>Nc-news-FE</h3>
            <div class="project__btns">
              <a href="https://github.com/Hassen-Ahmed/nc-news" target="_blank">
                <button>GitHub</button>
              </a>
              <a
                href="https://hassen-abdela-nc-news.netlify.app/"
                target="_blank"
              >
                <button>Live Demo</button>
              </a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="project nc-news-be">
          <div class="project__content">
            <div class="img-wrapper">
              <img src="/images/nc-news-be.jpg" alt="kanbam application" />
            </div>
            <h3>Nc-news-BE</h3>
            <div class="project__btns">
              <a
                href="https://github.com/Hassen-Ahmed/News-API"
                target="_blank"
              >
                <button>GitHub</button>
              </a>
              <a
                href="https://github.com/Hassen-Ahmed/News-API"
                target="_blank"
              >
                <button>Live Demo</button>
              </a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="project Sticky">
          <div class="project__content">
            <div class="img-wrapper">
              <img src="/images/sticky-todo.png" alt="kanbam application" />
            </div>
            <h3>Sticky</h3>
            <div class="project__btns">
              <a
                href="https://github.com/Hassen-Ahmed/Todo-App"
                target="_blank"
              >
                <button>GitHub</button>
              </a>
              <a href="https://sticky-todos.netlify.app/" target="_blank">
                <button>Live Demo</button>
              </a>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="project 3d-portolio">
          <div class="project__content">
            <div class="img-wrapper">
              <img src="/images/3d-portolio.jpg" alt="kanbam application" />
            </div>
            <h3>3D Portfolio</h3>
            <div class="project__btns">
              <a
                href="https://github.com/Hassen-Ahmed/portfolio3d"
                target="_blank"
              >
                <button>GitHub</button>
              </a>
              <a href="https://portfoliooo3d.netlify.app/" target="_blank">
                <button>Live Demo</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
