<template>
  <div class="skills">
    <div class="skills__heading">
      <h2>Skills</h2>
      <button class="skills--close-btn">Exit</button>
    </div>

    <div class="skills--contents">
      <div class="skills--logo">
        <img src="/images/skills.png" alt="skills logo" />
      </div>

      <div class="skill-list">
        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
          />
          <h3>HTML</h3>
        </div>
        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
          />
          <h3>CSS</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"
          />
          <h3>SASS</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
          />
          <h3>Javascript</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
          />
          <h3>Typescript</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
          />
          <h3>React</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redux/redux-original.svg"
          />
          <h3>Redux</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
          />
          <h3>C#</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg"
          />
          <h3>DotNet Core</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
          />
          <h3>Node</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg"
          />
          <h3>Express</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
          />
          <h3>Docker</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
          />
          <h3>Mongodb</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
          />
          <h3>PSQL</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg"
          />
          <h3>Postman</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jest/jest-plain.svg"
          />
          <h3>Jest</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vitest/vitest-original.svg"
          />
          <h3>Vitest</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
          />
          <h3>Git</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
          />
          <h3>GitHub</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
          />
          <h3>VsCode</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg"
          />
          <h3>Linux</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/windows11/windows11-original.svg"
          />
          <h3>windows</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg"
          />
          <h3>Figma</h3>
        </div>

        <div class="skills__content">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/photoshop/photoshop-original.svg"
          />
          <h3>Photoshop</h3>
        </div>
      </div>
    </div>
  </div>
</template>
