@use "../style-components/mixins" as mixn;

#projects--container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.projects {
  width: 100%;
  height: 100%;
  padding: 2rem 20rem 10rem 20rem;
  overflow-x: hidden;
  background-color: rgb(255, 132, 56);

  @include mixn.flexy(column, start);

  @media screen and (max-width: 1000px) {
    padding: 2rem 1rem;
  }

  &__heading {
    @include mixn.headings;
  }

  &--contents {
    width: 100%;
    height: auto;
    margin-top: 10rem;
    padding-top: 25rem;
    @include mixn.flexy(column);
    background-color: white;
    position: relative;

    .projects--logo {
      position: absolute;
      top: -15rem;
      width: 40rem;
      height: 40rem;

      animation-name: loop-up-down;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      @media screen and (max-width: 1000px) {
        top: 3rem;
        width: 25rem;
        height: 25rem;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &--list {
    @include mixn.flexy();
    flex-wrap: wrap;
    gap: 4rem;

    width: 100%;
    height: 100%;
    padding-bottom: 10rem;

    .project {
      background-color: rgb(255, 132, 56);
      border-radius: 2.6rem;

      &__content {
        width: 60rem;
        height: 60rem;
        padding: 2rem;
        @include mixn.flexy(column, start);

        .img-wrapper {
          width: 100%;
          height: 60%;
          overflow: hidden;
          border-radius: 2rem;
          margin-bottom: 2rem;
          filter: grayscale(100%);

          img {
            object-fit: fill;
            width: 100%;
            height: 100%;
            transition: all 0.2s ease-in;

            &:hover {
              scale: 1.1;
            }
          }
        }

        h3 {
          font-size: 3rem;
          color: white;
          margin-bottom: 6rem;
        }
      }

      &__btns {
        width: 100%;
        @include mixn.flexy(row, space-evenly);
        a {
          text-decoration: none;
          width: 40%;
        }
        button {
          font-size: 3rem;
          font-weight: 600;
          border: none;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          cursor: pointer;
          color: rgb(255, 132, 56);
        }
      }
    }
  }
}
