@use "../style-components/mixins" as mixn;

#skills--container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.skills {
  width: 100%;
  height: 100%;
  padding: 2rem 20rem 10rem 20rem;
  overflow-x: hidden;
  background-color: rgb(255, 132, 56);
  @include mixn.flexy(column, start);

  @media screen and (max-width: 1000px) {
    padding: 2rem 2rem;
  }

  &__heading {
    @include mixn.headings;
  }

  &--contents {
    width: 100%;
    height: 100%;
    // margin-top: 15rem;
    padding-top: 50rem;
    position: relative;

    // background: rgb(243, 243, 243);
    @include mixn.flexy(column, center, center);

    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (max-width: 650px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .skills--logo {
      position: absolute;
      top: -3rem;

      width: 40rem;
      height: 40rem;
      animation-name: loop-up-down;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      @media screen and (max-width: 1000px) {
        top: -10rem;
        width: 20rem;
        height: 20rem;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .contact-list {
      width: 100%;
      height: 100%;
      margin-top: 25rem;
      padding-top: 25rem;
      padding-bottom: 5rem;
      background: rgb(243, 243, 243);

      height: auto;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      align-items: center;
      justify-content: center;

      & > *:nth-child(even) {
        background-color: rgba(69, 69, 69, 0.8);
      }

      & > *:nth-child(odd) {
        background-color: rgba(230, 230, 230, 0.8);
      }
    }
  }

  &__content {
    @include mixn.flexy(column);
    padding: 2rem;
    font-size: 2rem;
    height: 100%;
    color: rgb(255, 132, 56);
  }
}
