@use "../style-components/mixins" as mixn;

#skills--container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.skills {
  width: 100%;
  height: 100%;
  padding: 2rem 20rem 10rem 20rem;
  overflow-x: hidden;
  background-color: rgb(255, 132, 56);

  @include mixn.flexy(column, start);

  @media screen and (max-width: 1000px) {
    padding: 2rem 1rem;
  }

  &__heading {
    @include mixn.headings;
  }

  &--contents {
    width: 100%;
    @include mixn.flexy(column);
    position: relative;

    .skills--logo {
      position: absolute;
      top: -5rem;
      width: 40rem;
      height: 40rem;

      animation-name: loop-up-down;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

      @media screen and (max-width: 1000px) {
        top: 3rem;
        width: 25rem;
        height: 25rem;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .skill-list {
      width: 100%;
      height: auto;
      margin-top: 10rem;
      padding-top: 25rem;
      padding-bottom: 5rem;
      background: rgb(243, 243, 243);

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      & > *:nth-child(even) {
        background-color: rgba(69, 69, 69, 0.8);
      }

      & > *:nth-child(odd) {
        background-color: rgba(230, 230, 230, 0.8);
      }
    }
  }

  &__content {
    @include mixn.flexy(column);
    padding: 2rem;
    font-size: 2rem;
    width: 20rem;
    height: 20rem;
    color: rgb(255, 132, 56);

    @media screen and (max-width: 600px) {
      width: 10rem;
      height: 10rem;
      font-size: 1.2rem;
    }
  }
}
