<template>
  <div class="about-me">
    <div class="about-me__heading">
      <h2>About Me</h2>
      <button class="about-me--close-btn">Exit</button>
    </div>

    <div class="about-me__contents">
      <div class="BP89--logo">
        <!-- <img src="/images/BP89-04.png" alt="BP89 logo" /> -->
        <img
          src="https://portfoliooo3d.netlify.app/images/bp89-04.png"
          alt="BP89 logo"
        />
      </div>
      <div class="para">
        <p>
          Alright, let me tell you about the amazing person who made me (<span
            class="about-me--snippet"
            >my creator</span
          >), the one and only
          <span class="about-me--snippet-hassen">Hassen Abdela</span>!
        </p>
        <p>
          Think of someone who really loves playing with
          <span class="about-me--snippet">computers</span> and making them do
          cool things. That's Hassen! For him, it's not just a job; it's
          something he's super excited about. He's always learning
          <span class="about-me--snippet">new stuff</span> and trying out
          different ways to build things.
        </p>
        new stuff
        <p>
          Because he's been learning and getting better at what he does,
          Hassen's become a real whiz at figuring out tricky
          <span class="about-me--snippet">problems</span>, fixing mistakes when
          things go wrong, talking to people about his ideas, and coming up with
          clever solutions. He believes in always doing his absolute best, no
          matter what. Because he
          <span class="about-me--snippet">loves</span> to learn, he's got all
          sorts of skills to help him handle tough situations.
        </p>

        <p>
          Whenever Hassen works on something, he's really
          <span class="about-me--snippet">enthusiastic</span>. He doesn't just
          want to do what's expected; he wants to do even better! He sees the
          world of technology as full of awesome chances to invent new things
          and make a <span class="about-me--snippet">positive difference</span>.
          That's what keeps him pumped up and moving forward on his adventure.
        </p>
        <p>
          Now, I'd be thrilled to show you around and help you get to know my
          fantastic creator better. He's a real tech guru! What would you like
          to know first?
        </p>
        <p>By the way I am <span class="about-me--snippet">BP-89</span></p>
      </div>
    </div>
  </div>
</template>
